<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile"
			fileName="log/mail-pdf-service.log"
			filePattern="log/mail-pdf-service-logs.%d{yyyy-MM-dd}.log"
			ignoreExceptions="false">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy
					 interval="1"  />
			</Policies>			
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="com.mailsender" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>

	</Loggers>
</Configuration>